<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejecicio 2</title>
    <%- include("tools/toolshead") %>
        <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <%- include("tools/navbar") %>
        <div class="jumbotron-full text-white bg-dark">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-3 mt-2">
                            <a class="btn btn-primary nav-link mt-1 me-1" type="button" href="/newUser">Add new</a>
                        </div>
                        <div class="col-sm-9 mt-2">
                            <h3 class="text-center mt-1">Users 3Hunters</h3>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% dataUsers.map((value)=> { %>
                                <tr>
                                    <td>
                                        <%=value.name%>
                                    </td>
                                    <td>
                                        <%=value.age%>
                                    </td>
                                    <td>
                                        <%=value.city%>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include("tools/footer") %>
</body>